<header>
  <div class="header-wrapper">
    <div class="brand-logo">
      <a href="#">
        <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png" alt="brand logo">
      </a>
    </div>
    <nav>
      <ul>
        <li class="main-menu-item button-dropdown">
          <a href="#" class="dropdown-toggle">Store<i class="fa fa-angle-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Store home</a></li>
            <li class="deep-menu">
              <a href="#">Devices</a>
              <ul class="submenu">
                <li><a href="#">Microsoft Surface</a></li>
                <li><a href="#">PCs &amp; tablets</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Virtual reality</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Windows phone</a></li>
                <li><a href="#">Microsoft Band</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Software</a>
              <ul class="submenu">
                <li><a href="#">Office</a></li>
                <li><a href="#">Windows</a></li>
                <li><a href="#">Additional software</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Apps</a>
              <ul class="submenu">
                <li><a href="#">All apps</a></li>
                <li><a href="#">Windows apps</a></li>
                <li><a href="#">Windows phone apps</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Games</a>
              <ul class="submenu">
                <li><a href="#">Xbox One games</a></li>
                <li><a href="#">Xbox 360 games</a></li>
                <li><a href="#">PC games</a></li>
                <li><a href="#">Windows games</a></li>
                <li><a href="#">Windows phone games</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Entertaiment</a>
              <ul class="submenu">
                <li><a href="#">All Entertaiment</a></li>
                <li><a href="#">Movies &amp; TV</a></li>
                <li><a href="#">Music</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Business &amp; Education</a>
              <ul class="submenu">
                <li><a href="#">Business Store</a></li>
                <li><a href="#">Education Store</a></li>
                <li><a href="#">Developer</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Sale</a>
              <ul class="submenu">
                <li><a href="#">Back-to-school essentials</a></li>
                <li><a href="#">Sale</a></li>
              </ul>
            </li>
            <li><a href="#">Find a store</a></li>
            <li><a href="#">Gift cards</a></li>
          </ul>
        </li>
        <li class="main-menu-item button-dropdown">
          <a href="#" class="dropdown-toggle">Products<i class="fa fa-angle-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li class="deep-menu">
              <a href="#">Software &amp; services</a>
              <ul class="submenu">
                <li><a href="#">Windows</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Free downloads &amp; security</a></li>
                <li><a href="#">Internet Explorer</a></li>
                <li><a href="#">Microsoft Edge</a></li>
                <li><a href="#">Skype</a></li>
                <li><a href="#">OneNote</a></li>
                <li><a href="#">Microsoft Health</a></li>
                <li><a href="#">MSN</a></li>
                <li><a href="#">Bing</a></li>
                <li><a href="#">Microsoft Movies &amp; TV</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">Devices &amp; Xbox</a>
              <ul class="submenu">
                <li><a href="#">All Microsoft devices</a></li>
                <li><a href="#">Microsoft Surface</a></li>
                <li><a href="#"> All Windows PCs &amp; tablets</a></li>
                <li><a href="#">PC accessories</a></li>
                <li><a href="#">Xbox &amp; games</a></li>
                <li><a href="#">Microsoft Band</a></li>
                <li><a href="#">All Windows phones</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">For business</a>
              <ul class="submenu">
                <li><a href="#">Cloud Platform</a></li>
                <li><a href="#">Microsoft Azure</a></li>
                <li><a href="#">Microsoft Dynamics</a></li>
                <li><a href="#">Windows for business</a></li>
                <li><a href="#">Office for business</a></li>
                <li><a href="#">Skype for business</a></li>
                <li><a href="#">Surface for business</a></li>
                <li><a href="#">Enterprise solutions</a></li>
                <li><a href="#">Small business solutions</a></li>
                <li><a href="#">Find a solutions provider</a></li>
                <li><a href="#">Volume Licensing</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">For developers &amp; IT pros</a>
              <ul class="submenu">
                <li><a href="#">Develop Windows apps</a></li>
                <li><a href="#">Microsoft Azure</a></li>
                <li><a href="#">MSDN</a></li>
                <li><a href="#">TechNet</a></li>
                <li><a href="#">Visual Studio</a></li>
              </ul>
            </li>
            <li class="deep-menu">
              <a href="#">For students &amp; educators</a>
              <ul class="submenu">
                <li><a href="#">Office for students</a></li>
                <li><a href="#">OneNote in clssroom</a></li>
                <li><a href="#">Microsoft in Education</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="main-menu-item"><a href="#">Support</a></li>
      </ul>
    </nav>
    <div class="enter">
      <a href="#">Sign In</a>
    </div>
    <div class="actions">
      <form action="#">
        <div class="search-wrapper">
          <input type="text" placeholder="Search Microsoft.com">
          <button type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="search-toggle">
        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
      </div>
      <div class="cart">
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>0</span></a>
      </div>
      <div class="menu-toggle">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>
