<section class="signup">
  <h2>Join over 2 million designers already using InVision. Get InVision <strong>free</strong> forever!</h2>
  <form action="#">
    <div class="container">
      <div class="form-item">
        <label for="name">Your Name</label>
        <i class="icon"></i>
        <input type="text" id="name" required>
      </div>
      <div class="form-item">
        <label for="email">Email Address</label>
        <i class="icon icon-email"></i>
        <input type="email" id="email" required>
      </div>
      <div class="form-item">
        <label for="password">Create password</label>
        <i class="icon icon-lock"></i>
        <input type="password" id="password" required>
      </div>
      <button type="submit">get started - free forever!</button>
    </div>
  </form>
  <p class="terms">By clicking "Get Started — Free Forever!" I agree to InVision's <a href="#">Terms of Service.</a></p>
</section>
