<section class="oculus">
  <ul>
    <li>
      <a class="eve" href="#">
        <div class="item-bg"></div>
        <div class="text-wrap">
          <h4>FEATURED CONTENT</h4>
          <h3>EVE: Valkyrie</h3>
        </div>
      </a>
    </li>
    <li>
      <a class="lucky-tale" href="#">
        <div class="item-bg"></div>
        <div class="text-wrap">
          <h4>INCLUDED WITH ALL RIFT PURCHASES</h4>
          <h3>Lucky's Tale</h3>
        </div>
      </a>
    </li>
    <li>
      <a class="full-games" href="#">
        <div class="item-bg"></div>
        <div class="text-wrap">
          <h4>FEATURED STORY</h4>
          <h3>Over 30 Full Games Launching with Oculus Touch this Year</h3>
        </div>
      </a>
    </li>
  </ul>
</section>
